.delete{
    background-color: red;
    color: white;
}
.Edit{
    background-color: green;
    color: white;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
   
  }
  
  td, th {
    border: 1px solid #030303;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #aea9a9;
  }
  .containers{
    background-color: rgb(247, 247, 247);
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
form{
    background-color: rgb(220, 247, 98);
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
}
label{
    color: rgb(10, 9, 9);

}
#submit{
    color: white;
    border: 0ch;
    height: 28px;
    background-color: rgb(28, 111, 28);
}