
.delete{
    background-color: red;
    color: white;
}
.Edit{
    background-color: green;
    color: white;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
   
  }
  
  td, th {
    border: 1px solid #030303;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #aea9a9;
  }